@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
   background: rgb(255, 255, 255);
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 6%;
   background: transparent;
   display: flex;
   justify-content: space-between;
   align-items: left;
   z-index: 10;
}

.logo {
   font-size: 22px;
   color: rgb(255, 255, 255);
   text-decoration: underline;
   font-weight: 600;
   opacity: 0;
   animation: slideRight 1s ease forwards;
}

.navbar a {
   align-items: left;
   display: inline-block;
   font-size: 16px;
   color: #222;
   text-decoration: underline;
   font-weight: 500;
   margin: 0 5px;
   transition: .3s;
   opacity: 0;
   animation: slideTop .5s ease forwards;
   animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
   align-items: left;
   color: #83c7ff;
}

.social-media {
   display: flex;
   width: 150px;
   height: 40px;
   background: transparent;
}
.social-mediaa a i{
   font-size: 24px;
   color:rgb(255, 255, 255);
   transform: rotate(-45deg);
}
.social-mediaa a {
   display: inline-flex;
   justify-content: right;
   align-items: right;
   width: 40px;
   height: 40px;
   background: transparent;
   border: 2px solid transparent;
   text-decoration: none;
   transform: rotate(45deg);
   transition: .5s;
}
.social-mediaa a:hover {
   border-color: #5590ff;
}
.social-media a {
   display: inline-flex;
   justify-content: right;
   align-items: right;
   width: 40px;
   height: 40px;
   background: transparent;
   border: 2px solid transparent;
   text-decoration: none;
   transform: rotate(45deg);
   transition: .5s;
}

.social-media a:hover {
   border-color: #ffffff00;
}

.social-media a i {
   font-size: 24px;
   color: #ffffff;
   transform: rotate(-45deg);
}



.home {
   position: relative;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 50px 8% 0;
   overflow: hidden;
}

.home-content {
   max-width: 650px;
   
}

.home-content h1 {
   font-size: 50px;
   line-height: 1.2;
   color: #ffffff;
}

.home-content h3 {
   font-size: 40px;
   color: #5590ff;
}

.home-content p {
   font-size: 16px;
   margin: 15px 0 30px;
   color: #ffffff;
}

.btn {
   display: inline-block;
   padding: 10px 28px;
   background: #5590ff;
   border: 2px solid #290650;
   border-radius: 6px;
   box-shadow: 0 0 10px rgba(0,0,0, 0.1);
   font-size: 16px;
   color: rgb(0, 0, 0);
   letter-spacing: 1px;
   text-decoration: none;
   font-weight: 600;
   transition: .5s;
}

.btn:hover {
   background: transparent;
   color: rgb(0, 0, 0);
}

.home-img {
   position: relative;
   right:-15%;
   width: 400px;
   height: 400px;
   transform: rotate(45deg);
}



.home-img .rhombus img {
   position: absolute;
   top: 110px;
   left: -160px;
   max-width: 750px;
   transform:  rotate(-65deg);
}

.home .rhombus2 {
   position: absolute;
   top: -25%;
   right: -25%;
   width: 700px;
   height: 700px;
   background: #2a75ff00;
   transform: rotate(45deg);
   z-index: -1;
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight{
   0% {
      transform: translateX(-100px);
      opacity: 0;
   }
   100% {
      transform: translateX(0px);
      opacity: 1;
   }
}

@keyframes slideTop{
   0% {
      transform: translateX(100px);
      opacity: 0;
   }
   100% {
      transform: translateX(0px);
      opacity: 1;
   }
}



/* price css */
.wrapper {
   width: 1020px;
   height: 500px;
   margin: 17% auto;
   display: flex;
   justify-content: center; /* Center items horizontally */
   gap: 5%; /* Add some space between the items */
   flex-wrap: wrap; /* Allow items to wrap if needed */
}

.single-price {
   width: 100%; /* Adjust width to fit within the container */
   background: #5590ff;
   margin-top: 2%;
   box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
   text-align: center;
   transition: 0.9s;
   flex: 2; /* Ensure flexible growth */
}
.warn {
   text-align: center;
   color: rgb(255, 255, 255);
}
.price {
   width: 120px;
   height: 75px;
   border-radius: 1000%;
   border: 2px solid rgba(255, 255, 255, 0) ;
   margin: 5% auto 0 auto;
   text-align: c;
}

.deals {
   margin-top: 10%;
   color: rgb(255, 255, 255);
}

.single-price h1 {
   font-size: 18px;
   color: rgb(0, 0, 0);
   line-height: 3;
   text-transform: uppercase;
}

.single-price h2 {
   font-size: 50px;
   color: rgb(255, 255, 255);
}

.deals h4 {
   font-size: 25px;
   font-weight: normal;
   text-align: center;
   color: white;
   line-height: 2;
}

.single-price:hover {
   background: #002b7a;
   color: white;
   box-shadow: 0 0 15px rgba(0, 0, 0, 1);
   z-index: 1;
   border-radius: 25px;
}

.single-price:hover .price {
   border-color: rgba(255, 255, 255, 0);
}

.single-price a {
   text-decoration: none;
   background:  8fb6ffrgb(246, 151, 255);
   color: white;
   padding: 10px 60px;
   margin: 10% auto;
   text-transform: uppercase;
   font-weight: bold;
   display: inline-block;
}

.single-price:hover a {
   background: #262626;
   color: #ffffff;
}


/* review css*/
.testimonials {
   padding: 100px 0;
   height: 1;
   background: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   text-align: center;
   width: 100%; /* Adjust width to fit within the container */
   margin-top: 2%;
   text-align: center;
   transition: 0.9s;
   flex: 2; /* Ensure flexible growth */
}


.inner {
   max-width: 1000px;
   margin: auto;
   overflow: hidden;
   padding: 0 20px;
}

.border {
   width: 300px;
   height: 5px;
   background: #5590ff;
   margin: 2px auto;

}

.row {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.col {
   flex: 33.33%;
   max-width: 33.33%;
   box-sizing: border-box;
   padding: 15px;
}

.testimonial {
   background: rgb(0, 0, 0);
   padding: 30px;
}

.testimonial img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
}

.name {
   font-size: 20px;
   text-transform: uppercase;
   margin: 20px 0;
}

.stars {
   color: #6ab04c;
   margin-bottom: 20px;
}



/* Dropdown Button */
.dropbtn {
   align-items: left;
   background-color: #ffffff81;
   color: rgb(255, 255, 255);
   padding: 5px;
   font-size: 16px;
   border: none;
   text-align: left;
 }
 
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   align-items: left;
   position: left;
   display: inline-block;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   align-items: left;
   display: none;
   position: absolute;
   background-color: #f1f1f1c2;
   min-width: 120px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 /* Links inside the dropdown */
 .dropdown-content a {
   align-items: left;
   color: black;
   padding: 12px 16px;
   text-decoration: underline;
   display: block;
 }
 
 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #ddd;}
 
 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {display: block;}
 
 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {background-color: #5aa2ff9a;}

